<div class="wrapper" (scroll)="scrollHandler($event)">
    <ngx-charts-line-chart
    [view]="view"
    class="chart-container"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="dateDataWithOrWithoutRange"
    [animations]="animation"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    (legendLabelClick)="onLegendLabelClick($event)"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [timeline]="timeline"
    [showGridLines]="showGridLines"
    [curve]="curve"
    [timeline]="timeline"
    [rangeFillOpacity]="rangeFillOpacity"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    [trimXAxisTicks]="trimXAxisTicks"
    [trimYAxisTicks]="trimYAxisTicks"
    [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength"
    [maxYAxisTickLength]="maxYAxisTickLength"
    (select)="onSelect($event)">
    </ngx-charts-line-chart>
</div>