$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: #a0aabe;
$color-text-med-light: #d9dce1;
$color-text-light: #f0f1f6;
$color-text-lighter: #fff;

$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

div.wrapper {
  background: $color-bg-darker;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 2%;

}
::ng-deep.ngx-charts text {
    fill: $color-text-med;
}

::ng-deep.chart-legend {
    .legend-labels {
      background: rgba(255, 255, 255, 0.05) !important;
    }
    .legend-title {
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    .legend-title-text {
      vertical-align: bottom;
      display: inline-block;
      line-height: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }